/* nav styles */
nav {
  padding: 0 3rem;
  display: flex;
  height: 15vh;
  align-items: center;
  justify-content: space-between;
}

.nav-home-con {
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 0.5rem;
  padding: 0.5rem;
  border: 0;
  border-radius: 0.5rem;
  transition: all 0.2s;
  border: 5px solid transparent;
  position: relative;
  text-decoration: none;
  color: black;
}

.nav-home-con:hover {
  border-color: var(--primary-color);
}

.logo-icon {
  height: 2.5rem;
}

.logo-title {
  font-size: 2rem;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.logout-btn,
.dashboard-btn {
  padding: 0.5rem;
  border: 0;
  padding: 0.5rem 1rem;
  font-size: 1.125rem;
  border: 3px solid;
  cursor: pointer;
  border-radius: 0.25rem;
  transition: all 0.2s;
}

.logout-btn {
  color: #f4eded;
  background-color: #dc3545;
  border-color: #dc3545;
}

.logout-btn:hover {
  background-color: #c62e3e;
  border-color: #c62e3e;
}

.dashboard-btn {
  color: var(--background-color);
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.dashboard-btn:hover {
  background-color: var(--primary-color-dark);
  border-color: var(--primary-color-dark);
}
